@font-face {
	font-family: 'codicon';
	src: url('../src/fonts/codicon.ttf')
}

.titlebar {
	height: 35px;
	width: 100%;
	background-color: #181818;
	color: #9d9d9d;
	border-bottom: 1px solid #2b2b2b;
	display: flex;
	flex-direction: row;
	justify-content: left;
	line-height: 22px;
	position: fixed;
	top:0px;
	z-index: 9999;
	user-select: none;
}
.icon {
	background-image: url(../favicon.svg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 20px;

	flex-shrink: 0;
	height: 100%;
	order: 0;
	position: relative;
	width: 35px;
}
.titlebar-center {
	justify-content: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 12px;
	display: flex;
	align-items: center;
	gap: 4px;
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(204, 204, 204, 0.2);
	border-radius: 6px;
	color: #9d9d9d;
	margin: auto;
	min-width: 0;
	max-width: 600px;
	height: 22px;
	width: 38vw;
}

.search-icon {
	color: #9d9d9d;
	font-size: 14px;
	margin: auto 3px;
	opacity: .8;
}
.codicon {
	display: inline-block;
	font: normal normal normal 16px / 1 codicon;
	text-align: center;
	text-decoration: none;
	text-rendering: auto;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	-webkit-user-select: none;
}
.search-icon:before {
	content: '\ea6d';
}
/* .titlebar-end */