@font-face {
	font-family: 'codicon';
	src: url('../src/fonts/codicon.ttf')
}

::marker { 
	content: "";
}
.titlebar {
	height: 35px;
	width: 100%;
	background-color: #181818;
	color: #9d9d9d;
	border-bottom: 1px solid #2b2b2b;
	display: flex;
	flex-direction: row;
	justify-content: left;
	line-height: 22px;
	position: fixed;
	top:0px;
	z-index: 9999;
	user-select: none;
}
.icon {
	background-image: url(../favicon.svg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 20px;

	flex-shrink: 0;
	height: 100%;
	order: 0;
	position: relative;
	width: 35px;
}
.titlebar-center {
	justify-content: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 12px;
	
	max-width: fit-content;
	min-width: 0;
	
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	height: 100%;
	order: 1;
	width: 60%;
	display: flex;
	flex: 0 1 auto;
}
.actions-container {
	gap: 4px;
	align-items: center;
	display: flex;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.action-item {
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(204, 204, 204, 0.2);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #9d9d9d;
	display: flex;
	height: 22px;
	max-width: 600px;
	overflow: hidden;
	width: 38vw;
	justify-content: center;
	margin: auto;
}

.search-icon {
	color: #9d9d9d;
	font-size: 14px;
	margin: auto 3px;
	opacity: .8;
}
.codicon-search:before {
	content: '\ea6d';
}
.codicon[class*=codicon-] {
	display: inline-block;
	font: normal normal normal 16px / 1 codicon;
	text-align: center;
	text-decoration: none;
	text-rendering: auto;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	-webkit-user-select: none;
}
/* .titlebar-left {
	flex-grow: 2;
	justify-content: flex-start;
	order: 0;
	width: 20%;
} */
/* .titlebar {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	height: 100%;
	justify-content: space-between;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	width: 100%;
	justify-content: left;
	line-height: 22px;
} */